apiVersion: v2
name: kube-acp-stack
description: kube-acp-stack collects acp charts combined with documentation and scripts to provide easy to operate end-to-end Kubernetes cluster
type: application
version: 0.12.3
sources:
  - https://github.com/cloudentity/acp-helm-charts
dependencies:
- name: cockroachdb
  version: "5.0.7"
  repository: https://charts.cockroachdb.com
  condition: cockroachdb.enabled
- name: redis
  version: "14.8.3"
  repository: https://charts.bitnami.com/bitnami
  condition: redis.enabled
- name: acp
  version: "0.12.3"
  repository: https://charts.cloudentity.io
  condition: acp.enabled
