apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "istio-authorizer.fullname" . }}
  labels:
    {{- include "istio-authorizer.labels" . | nindent 4 }}
data:
{{- if ((.Values.httpClient).rootCa) }}
  client-ca.crt: |
    {{ .Values.httpClient.rootCa | nindent 4 | trim }}
{{- end }}
  config.yaml: |
    {{- if ((.Values.httpClient).rootCa) }}
    http_client:
      root_ca: /tls/client-ca.crt
    {{- end }}
    {{- with .Values }}
    logging:
      level: {{ .logging.level }}
    discovery:
      enabled: {{ .discovery.enabled }}
      namespaces:
      {{- range .discovery.namespaces }}
      - {{ . }}
      {{- end }}
      open_api_endpoint: {{ .discovery.openApiEndpoint }}
      grpc_refrection_calls: {{ .discovery.grpcRefrectionCalls }}
    target_service:
      inject:
        headers:
          custom_data_prefix: {{ .targetService.inject.headers.customDataPrefix }}
          auth_ctx: {{ .targetService.inject.headers.authCtx }}
    trust_domain: {{ .trustDomain }}
    token_exchange:
      enabled: {{ .tokenExchange.enabled }}
      inject:
        mode: {{ .tokenExchange.inject.mode }}
        headers:
          original_token: {{ .tokenExchange.inject.headers.originalToken }}
          exchanged_token: {{ .tokenExchange.inject.headers.exchangedToken }}
          strip_bearer: {{ .tokenExchange.inject.headers.stripBearer }}
    {{- end }}
  extraconfig.yaml: |
    {{- with .Values.extraConfig }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
