apiVersion: apps/v1
{{- if not .Values.deployAsDaemonSet }}
kind: Deployment
{{- else }}
kind: DaemonSet
{{- end }}
metadata:
  name: {{ include "istio-authorizer.fullname" . }}
  labels:
    {{- include "istio-authorizer.labels" . | nindent 4 }}
spec:
{{- if not .Values.deployAsDaemonSet }}
  replicas: {{ .Values.replicas }}
{{- end }}
  selector:
    matchLabels:
      {{- include "istio-authorizer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "istio-authorizer.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "istio-authorizer.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --config
            - /data/config.yaml
          env:
            - name: ACP_ISSUER_URL
              value: {{ .Values.issuerURL }}
            - name: ACP_TENANT_ID
              value: {{ .Values.tenantID }}
            - name: ACP_SERVER_ID
              value: {{ .Values.serverID }}
            - name: ACP_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "istio-authorizer.clientCredentialsName" . }}
                  key: clientID
            - name: ACP_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "istio-authorizer.clientCredentialsName" . }}
                  key: clientSecret
            - name: DISCOVERY_NAMESPACES
              value: {{ join "," .Values.discovery.namespaces }}
            {{- range $key, $value := .Values.extraEnvVars }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          ports:
            - name: grpc
              containerPort: 9001
              protocol: TCP
            - name: metrics
              containerPort: 9000
              protocol: TCP
          readinessProbe:
            tcpSocket:
              port: 9001
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 9001
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /data
              name: data
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: data
          configMap:
            name: {{ include "istio-authorizer.fullname" . }}
