{{- if .Values.parseBody.enabled -}}
{{- range .Values.parseBody.namespaces }}
---
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: {{ include "istio-authorizer.fullname" $ }}
  namespace: {{ . }}
  labels:
    {{- include "istio-authorizer.labels" $ | nindent 4 }}
spec:
  configPatches:
  - applyTo: HTTP_FILTER
    match:
      context: ANY
      listener:
        filterChain:
          filter:
            name: "envoy.filters.network.http_connection_manager"
            subFilter:
              name: "envoy.filters.http.ext_authz"
    patch:
      operation: MERGE
      value:
        name: envoy.filters.http.ext_authz
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz
          with_request_body:
            max_request_bytes: {{ $.Values.parseBody.maxRequestBytes }}
            allow_partial_message: true
            pack_as_bytes: true
{{- end }}
{{- end }}
