{{- if .Values.bank.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "openbanking.bank.labels" . | nindent 4 }}
  name: {{ template "openbanking.bank.fullname" . }}
{{ include "openbanking.namespace" . | indent 2 }}
spec:
  selector:
    matchLabels:
      {{- include "openbanking.bank.matchLabels" . | nindent 6 }}
  template:
    metadata:
    {{- if .Values.bank.podAnnotations }}
      annotations:
{{ toYaml .Values.bank.podAnnotations | indent 8 }}
    {{- end }}
      labels:
        {{- include "openbanking.bank.labels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ template "openbanking.serviceAccountName.bank" . }}
      {{- if .Values.bank.extraInitContainers }}
      initContainers:
{{ toYaml .Values.bank.extraInitContainers | indent 8 }}
      {{- end }}
{{- if .Values.bank.priorityClassName }}
      priorityClassName: "{{ .Values.bank.priorityClassName }}"
{{- end }}
      containers:
        - name: {{ template "openbanking.name" . }}-{{ .Values.bank.name }}
          image: "{{ .Values.bank.image.repository }}:{{ .Values.bank.image.tag }}"
          imagePullPolicy: "{{ .Values.bank.image.pullPolicy }}"
          env:
            - name: CERT_FILE
              value: /tls/tls.crt
            - name: KEY_FILE
              value: /tls/tls.key
            - name: ROOT_CA
              value: /tls/ca.crt
{{ toYaml .Values.bank.extraEnv | indent 12 }}
          args:
          {{- range $key, $value := .Values.bank.extraArgs }}
            - --{{ $key }}={{ $value }}
          {{- end }}
          ports:
            - containerPort: 8070
          resources:
{{ toYaml .Values.bank.resources | indent 12 }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
              readOnly: true
    {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      {{ toYaml .Values.imagePullSecrets | indent 2 }}
    {{- end }}
    {{- if .Values.bank.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.bank.nodeSelector | indent 8 }}
    {{- end }}
    {{- if .Values.bank.securityContext }}
      securityContext:
{{ toYaml .Values.bank.securityContext | indent 8 }}
    {{- end }}
    {{- if .Values.bank.tolerations }}
      tolerations:
{{ toYaml .Values.bank.tolerations | indent 8 }}
    {{- end }}
    {{- if .Values.bank.affinity }}
      affinity:
{{ toYaml .Values.bank.affinity | indent 8 }}
    {{- end }}
      volumes:
        - name: config-volume
          {{- if empty .Values.bank.configFromSecret }}
          configMap:
            name: {{ if .Values.bank.configMapOverrideName }}{{ .Release.Name }}-{{ .Values.bank.configMapOverrideName }}{{- else }}{{ template "openbanking.bank.fullname" . }}{{- end }}
          {{- else }}
          secret:
            secretName: {{ .Values.bank.configFromSecret }}
          {{- end }}
      {{- range .Values.bank.extraSecretMounts }}
        - name: {{ .name }}
          secret:
            secretName: {{ .secretName }}
      {{- end }}
{{- end }}
