{{- if and .Values.consentAdmin.enabled .Values.serviceAccounts.consentAdmin.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "openbanking.consentAdmin.labels" . | nindent 4 }}
  name: {{ template "openbanking.serviceAccountName.bank" . }}
{{ include "openbanking.namespace" . | indent 2 }}
  annotations:
{{ toYaml .Values.serviceAccounts.consentAdmin.annotations | indent 4 }}
{{- end -}}
