## ACP image parameters
##
image:
  ## Image repository
  ##
  repository: docker.cloudentity.io/acp

  ## Image pull policy
  ##
  pullPolicy: IfNotPresent

  ## Image tag (immutable tags are recommended)
  ##
  tag:

## Global Docker registry secret names as an array
##
imagePullSecrets:
  - name: docker.cloudentity.io

## Public ACP URL
##
serverURL: "https://acp.local:8443"

## Public ACP URL for Ingress working in mTLS
##
serverULRMtls: "https://mtls.acp.local:8443"

## String to partially override acp.name
##
# nameOverride: ""

## String to fully override acp.fullname
##
# fullnameOverride: ""

## Additional labels to apply to all Kubernetes resources created by this chart.
##
labels: {}

## Define serviceAccount
##
serviceAccount:
  ## Specifies whether a service account should be created
  ##
  create: true

  ## Annotations to add to the service account
  ##
  annotations: {}

  ## The name of the service account to use.
  ## If not set and create is true, a name is generated using the fullname template
  # name: ""

## Array with container arguments to add to the ACP container
##
args:
  - server
  - start
  - --config
  - /data/config.yaml,/data/extraconfig.yaml,/secret/config.yaml
  - --demo
  - --metrics
  - --create-default-tenant
  - --create-default-workspaces

## Array with environment variables to add to the ACP container
##
# env: []

## Define service
##
service:
  ## ACP service type
  ##
  type: ClusterIP

## Define ingress
##
ingress:
  ## Enables the Ingress for ACP
  ##
  enabled: true

  ## Ingress additional custom annotations
  ##
  customAnnotations:

  ## Ingress hostnames with paths
  ##
  hosts:
    - host: acp.local
      paths:
        - path: /

  ## Ingress TLS configuration
  ## Secrets must be manually created in the namespace
  ## or automatically using `tlsSecrets` variable
  ##
  tls: []
  # - secretName: ingress-tls
  #   hosts:
  #     - acp.acp-system

  ## Ingress TLS secrets
  ## List of certificates to be created for Ingress
  tlsSecrets: []
  # - name: ingress-tls
  #   cert: |
  #     -----BEGIN CERTIFICATE-----
  #
  #     -----END CERTIFICATE-----
  #   key: |
  #     -----BEGIN RSA PRIVATE KEY-----
  #
  #     -----END RSA PRIVATE KEY-----

ingressMtls:
  ## Enables mTLS Ingress for ACP
  ## This is an independent instance from the one above.
  ##
  enabled: false

  ## mTLS Ingress additional custom annotations
  ##
  customAnnotations:

  ## mTLS Ingress hostnames with paths
  ##
  hosts:
    - host: mtls.acp.local
      paths:
        - path: /

  ## TLS certificates to be created for mTLS Ingress
  ##
  secret:
    ## Name of the Kubernetes secret
    ##
    name: ingress-mtls
    ## Domain certificate
    ##
    cert: |
      -----BEGIN CERTIFICATE-----
      -----END CERTIFICATE-----
    ## Domain certificate key
    ##
    key: |
      -----BEGIN PRIVATE KEY-----
      -----END PRIVATE KEY-----
    ## CA certificate of the domain certificate and client certificates
    ##
    caCert: |
      -----BEGIN CERTIFICATE-----
      -----END CERTIFICATE-----


## Deployment annotations
##
# annotations: {}

## Autoscaling parameters
##
autoscaling:
  ## Enable autoscaling
  ##
  enabled: false
  
  ## Define mix replica count
  ##
  # minReplicas: 0

  ## Define max replica count
  ##
  # maxReplicas: 1
  
  ## The average CPU usage of a all pods in a deployment
  ##
  # targetCPUUtilizationPercentage: ""
  
  ## The average memory usage of a all pods in a deployment
  ##
  # targetMemoryUtilizationPercentage: ""

## Number of ACP replicas to deploy
##
replicaCount: 1

## Pod annotations
##
# podAnnotations: {}

## Pod security context
##
# podSecurityContext: {}

## ACP resource requests and limits
## Ref: http://kubernetes.io/docs/user-guide/compute-resources/
##
resources: {}

## ACP node selector
##
# nodeSelector: {}

## ACP pod affinity
##
# affinity: {}

## ACP pod tolerations
##
# tolerations: {}

## A security context defines privilege and access control settings for a Pod or Container
## Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
##
securityContext:
  runAsUser: 0

## ACP feature flags
##
features:
  ## Enables import, export, global accept, deny, introspect endpoints
  ##
  integration_endpoints: false
  
  ## Realod templates, adds local redirects urls to frontend apps
  ##
  dev_mode: false
  
  ## Enables demo app endpoints 
  ##
  demo_app: false

  ## Enables swagger ui
  ##
  swagger_ui: false
  
  ## Enable javascript transformer
  ##
  script_transformer: false
  
  ## Enable system openbanking consent management apis
  ##
  system_openbanking_consents_management: false
  
  ## Enable system client management apis
  ##
  system_clients_management: false
  
  ## Enable jwt bearer grant type
  ##
  jwt_bearer_grant_type: false
  
  ## Enable, when ACP is running on-prem, and Pyron is used as gateway
  ##
  pyron_on_prem: false
  
  ## Default not secure embedded script runtime or fission
  ##
  faas_provider: ""
  
  ## Enable openbanking domestic scheduled payment consent apis
  ##
  openbanking_domestic_scheduled_payment_consents: false
  
  ## Enable openbanking domestic payment consent apis
  ##
  openbanking_domestic_payment_consents: false
  
  ## Enable openbanking domestic standing order consent apis
  ##
  openbanking_domestic_standing_order_consents: false
  
  ## Enable openbanking international payment consent apis
  ##
  openbanking_international_payment_consents: false
  
  ## Enable openbanking international scheduled payment consent apis
  ##
  openbanking_international_scheduled_payment_consents: false
  
  ## Enable openbanking international standing order consent apis
  ##
  openbanking_international_standing_order_consents: false
  
  ## Enable openbanking file payment consent apis
  ##
  openbanking_file_payment_consents: false
  
  ## Enable verification middleware for POST payment consent endpoints
  ##
  openbanking_jws_verification: false
  
  ## Enable roatation keys in frontend
  ##
  web_rotation_keys: false

## Cert-manager configuration
##
certManager:
  ## Enables the cert-manager integration
  ##
  enabled: false

  ## The requested ‘duration’ (i.e. lifetime) of the Certificate
  ##
  duration: 8760h

  ## How long before the currently issued certificate’s expiry cert-manager should renew the certificate.
  ##
  renewBefore: 168h

  ## Options to control private keys used for the Certificate.
  ##
  privateKey:
    size: 2048
    algorithm: RSA
  
  ## extraNames is a list of DNS subjectAltNames to be set on the Certificate.
  ##
  extraNames: []

  ## IssuerRef is a reference to the issuer for this certificate
  ##
  issuerRef:
    name: ca-issuer
    kind: ClusterIssuer

## Disables TLS in ACP
##
tlsDisabled: false

## Import Job configuration
##
importJob:
  ## Enables the import job
  ##
  enabled: false
  
  ## Config files path
  ##
  config:
    - /data/config.yaml
    - /data/extraconfig.yaml
    - /secret/config.yaml
  
  ## Import mode (update, fail, ignore)
  ##
  mode: update
  
  ## Input file format: yaml or json
  ##
  format: yaml
  
  ## Path to the input file
  ##
  input: /import/seed.yaml
  
  ## Extra args for import command
  ##
  extraArgs: []
  
  ## The data should match import configuration endpoint request body
  ## https://docs.authorization.cloudentity.com/api/system/#operation/importConfiguration
  ##
  data:
    tenants: []
    servers: []
    clients: []

  ## ACP import job resource requests and limits
  ## Ref: http://kubernetes.io/docs/user-guide/compute-resources/
  ##
  resources: {}

## Enable Default ACP config 
##
config:
  create: true
  
  ## The data should match acp configuration options
  ## https://docs.operations.cloudentity.com/reference/acp-configuration/
  ##
  data:
  #  logging:
  #     level: debug

## ACP config file from secret
##
secretConfig:
  ## Enable secret config
  ##
  create: true

  ## Secret annotations
  ##
  # annotations: {}

  ## The data should match acp configuration options
  ## https://docs.operations.cloudentity.com/reference/acp-configuration/
  ##
  data: {}
  #  system:
  #     secret: mysecret

## Dummy cert and key
##
certificate:
  ## Certificate:
  ##
  cert: |
    -----BEGIN CERTIFICATE-----
    MIIEDjCCAvagAwIBAgIUFLUGb+Ux3LbyTAdP3Zskt0iCbQIwDQYJKoZIhvcNAQEL
    BQAwVzELMAkGA1UEBhMCVVMxEzARBgNVBAgTCldhc2hpbmd0b24xEDAOBgNVBAcT
    B1NlYXR0bGUxFDASBgNVBAoTC0Nsb3VkZW50aXR5MQswCQYDVQQLEwJDQTAeFw0y
    MTA0MjIwNzQ2MDBaFw0yNjA0MjEwNzQ2MDBaMHcxCzAJBgNVBAYTAlVTMRQwEgYD
    VQQIEwtXYXNoaW5naHRvbjEQMA4GA1UEBxMHU2VhdHRsZTEUMBIGA1UEChMLQ2xv
    dWRlbnRpdHkxFjAUBgNVBAsTDUF1dGhvcml6YXRpb24xEjAQBgNVBAMTCWFjcC5s
    b2NhbDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK3L1G7VKO4aDacw
    DGA6IOncTgT0jIUltS+OSLH9ke5ltLfIKZ+bjdMYjv7LT9xOH9V9lI5HRMtMxbhD
    mLYy9+dybWLB15mcxm+z3lruhBMPS/ZxcGvDdZQILl3CUf3z6JfJFt7c3cXsJfcu
    vBoQJcTCoK7R1fA1RPeCKITAMcCE+Oab67mQhZDC7NLcmJ0UORKaeVhn2ghpiUIM
    iP+uhdCaAGs683P6Aoh0N1z1zsfrc6pJLm44I6E8cYUSt0Kh4gC8K4ivJiDEpZUV
    O6VFFzbGLpmDJtQ7sycQCTK9XnIC+JLDBi8tJL/JlkEzI8T7FDQnraVEpI+3XvKi
    WinKlZUCAwEAAaOBsTCBrjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYB
    BQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFGcYJd8n7Gcf
    cbvNVZgWPGnqJVqrMB8GA1UdIwQYMBaAFMpZB4RkFEn9Q7U/LsR9No6pW6NtMC8G
    A1UdEQQoMCaCCWxvY2FsaG9zdIIDYWNwgg5hY3AuYWNwLXN5c3RlbYcEfwAAATAN
    BgkqhkiG9w0BAQsFAAOCAQEAcm30fGxCWVpR+VRkF2nmnCtY6ksWT27eb5ZppsNs
    CoAwT9EMaRRQ3sx43/TvvdpxzJKcCHmdPLROgg/L5UMmOMjGT5mqcEvF8CiyAT/g
    pY1iuwqIbp3sSfnyTiQnGpSzHfvUsaOgkcFrLkC8lYLLal7aHSP5On3y+PMh8mdm
    DJSKt973VQj87q4qE9iDXdpzj0K5MKS+sbNOiOH8If9I2TqMcqwdrrLe/VP7mhz6
    oNc+cr++xId6h1jO768jq0OiK5G/oQQXZPD/wL+TXF0W/dw6F58EwHeQcD/H7wAs
    Z1hQb51e/+bSJxWMogTVPTEClXz0NpMIV9Xrcxfhk71Rjw==
    -----END CERTIFICATE-----
  
  ## Key
  ##
  key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEpQIBAAKCAQEArcvUbtUo7hoNpzAMYDog6dxOBPSMhSW1L45Isf2R7mW0t8gp
    n5uN0xiO/stP3E4f1X2UjkdEy0zFuEOYtjL353JtYsHXmZzGb7PeWu6EEw9L9nFw
    a8N1lAguXcJR/fPol8kW3tzdxewl9y68GhAlxMKgrtHV8DVE94IohMAxwIT45pvr
    uZCFkMLs0tyYnRQ5Epp5WGfaCGmJQgyI/66F0JoAazrzc/oCiHQ3XPXOx+tzqkku
    bjgjoTxxhRK3QqHiALwriK8mIMSllRU7pUUXNsYumYMm1DuzJxAJMr1ecgL4ksMG
    Ly0kv8mWQTMjxPsUNCetpUSkj7de8qJaKcqVlQIDAQABAoIBAQCsgTb4U8funhmT
    KxP9p3Tn623daUbZGhZ/f4EUepYQxQ7dpGX8MJBTSXsV2IQKLdlXNPDxUDgueqN+
    REod/vUl2+RLNBBmPsCQOz6njzu1F2fU08A8lqPsLTqogaqUoTbrAgQbbasLO1xr
    vw2h6Qk0BeMr4sexR46PBbhmG8bGSRM/F+2lJKwrLdoBamJBrax0s33QXHJzE401
    Mbp0APSOr/8Sl7NGeAK6bjBKZgD6PjCRFvgTPH4N8IXUKcro25glpwT8AQAvpB2N
    hnULvGpElbMEcHYRz86Mjf/7zdIjaRx0/3dK87bmI3MrReNaJv1U+ne/lslPJizU
    mXbV1mABAoGBANl8OkIzRI0JmC4DN/QP0DCEmQMvE1vkR3rhRQMCeWPWn8E+17T4
    pOW+ffKEnT5paRmZrw9X3I79OEBrVErZYFNf6f33DMjB11bzs6KQF+N0if2NlSf9
    RMOOrbIKeg0+FRuDTxJX0VY+mjw7xfzRq7Zg+zLSdyTHbymvtLfyVrmVAoGBAMyS
    8X3WSYKLVKEkDH4IEz/Ohf9BvpS7f2lSr9VeK820WYJDKbVi5W+Usjr0/KR8dAgR
    qJdki3I4PQEwGT3ABcYg8Dv9/hdRSx+KV9oCPctA1pKG2eAiZkSXYePDZANU3SNw
    9SLMFWT7AENRmrbSZoxZh79c3RBu9SWYaaAsRWwBAoGBALUuRcaCuVgZpxql+cYs
    Kk9RF7vMSv9htJ7M7lYsiH5A/YPa247bGVyADqKsEec9n54BJxLMKmVA1Mzt3SIh
    55ptrByz5IWW3tOEYKFME2qc2pxNh/Xxi4iy40cQbU986c6q3IO2fyGvM4R8c1tE
    PR3Ju1tCdJlCP/xlcVNQ4yjlAoGBAKTDKIpv/w6MByItdX5AJLi8LgHSwprplAmQ
    1hsj2GW5fmnCjCIRv7YpbY68Z4pWzeD9z+n2ybS5hLCjO4EXWc8kEjhPLck76SRC
    +NSV/4zm8Kpcv7ecHP/baLTXVoK0Y9K6lERtWEHXQnP1koTyWjNpnEJMmaM1qm2Y
    HmIppdQBAoGAUbEDiujATPO8XVFqFPcFp4qHKlWFEraBc4Tesk1w1rDN6vIrT8Vh
    U78GmaVTXcGTrMt8QBt6fFUVbVpuW2Cf/aDH/6UelkwsobZaWQy58d2Nv0NSkguO
    DbIu9KRAOP+2TVg8uTYg1Y+PqAuAbQAauYpc+wb48EbMgXx1a294fuI=
    -----END RSA PRIVATE KEY-----
  
  ## SQL client
  ## The data should match acp configuration options
  ## https://docs.operations.cloudentity.com/reference/acp-configuration/
  ##
  #  sql: {}
  
  ## Hazelcast client
  ## The data should match acp configuration options
  ## https://docs.operations.cloudentity.com/reference/acp-configuration/
  ##
  #  hazelcast: {}
  
  ## Redis client
  ## The data should match acp configuration options
  ## https://docs.operations.cloudentity.com/reference/acp-configuration/
  ##
  #  redis: {}
  

## Fission chart configuration
##
fission:
  ## Enables the Fission for ACP
  ##
  enabled: false

  ## Define namespace where the Fission Environment can be deployed
  ##
  namespace: acp-faas

  ## Define NetworkPolicy Egress rules for Fission deployment
  ##
  networkPolicy:
    ipBlock:
      cidr: 0.0.0.0/0
      except: 
        - 10.0.0.0/8
        - 192.168.0.0/16
        - 172.16.0.0/20

  ## Annotations to add to the Environment resource created for Fission
  annotations: {}
  # cluster-autoscaler.kubernetes.io/safe-to-evict: "true"

  ## Define the pool size
  ##
  poolsize: 3
  
  ## Specify a imagePullPolicy
  ##
  imagePullPolicy: IfNotPresent

  ## Docker registry secret name
  ##
  imagepullsecret: docker.cloudentity.io

  ## Affinity for pod assignment
  affinity: {} 
  #   nodeAffinity:
  #     requiredDuringSchedulingIgnoredDuringExecution:
  #       nodeSelectorTerms:
  #         - matchExpressions:
  #             - key: fission
  #               operator: In
  #              values:
  #                 - "true"  

  ## Tolerations for pod assignment
  tolerations: []
  # - key: fission
  #   value: "true"
  #   effect: NoSchedule

  ## Pod resources definition
  resources: {}
  #   requests:
  #     cpu: 10m
  #     memory: 48Mi
  #   limits:
  #     cpu: 100m
  #     memory: 96Mi

  ## Fission function idle timeout
  ##
  idleTimeout: 3m0s
