{{- if .Values.import.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "openbanking.fullname" . -}}-variables
{{ include "openbanking.namespace" . | indent 2 }}
data:
  variables.yaml: |
    consent_self_service_portal_url: https://consent-ss.local:8443
    consent_admin_portal_url: https://consent-admin.local:8443
    consent_page_url: https://consent.local:8443
    financroo_tpp_url: https://financroo.local:8443
    developer_tpp_url: https://financroo.local:8443
    financroo_tls_client_auth_subject_dn: CN=acp.local,OU= Authorization,O=Cloudentity,L=Seattle,ST=Washinghton,C=US
    bank_tls_client_auth_subject_dn: CN=acp.local,OU= Authorization,O=Cloudentity,L=Seattle,ST=Washinghton,C=US
    example_web_client_url: https://example.local:8443
    {{- if .Values.import.read_client_certificate_from_header }}
    read_client_certificate_from_header: true
    client_certificate_header: X-SSL-CERT
    {{- else -}}
    read_client_certificate_from_header: false
    {{ end -}}
    financroo_jwks: |
      keys:
      - alg: RS256
        e: AQAB
        kid: "167467200346518873990055631921812347975180003245"
        kty: RSA
        "n": rcvUbtUo7hoNpzAMYDog6dxOBPSMhSW1L45Isf2R7mW0t8gpn5uN0xiO_stP3E4f1X2UjkdEy0zFuEOYtjL353JtYsHXmZzGb7PeWu6EEw9L9nFwa8N1lAguXcJR_fPol8kW3tzdxewl9y68GhAlxMKgrtHV8DVE94IohMAxwIT45pvruZCFkMLs0tyYnRQ5Epp5WGfaCGmJQgyI_66F0JoAazrzc_oCiHQ3XPXOx-tzqkkubjgjoTxxhRK3QqHiALwriK8mIMSllRU7pUUXNsYumYMm1DuzJxAJMr1ecgL4ksMGLy0kv8mWQTMjxPsUNCetpUSkj7de8qJaKcqVlQ
        use: sig
    {{- range $key, $value := .Values.import.variables }}
    {{ $key }}: {{ $value }}
    {{- end }}
---
{{- if .Values.import.extraTemplate -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "openbanking.fullname" . -}}-extra-templates
{{ include "openbanking.namespace" . | indent 2 }}
data:
{{- $root := . -}}
{{- range $key, $value := .Values.import.extraTemplate }}
  {{- if $key | regexMatch ".*\\.ya?ml$" }}
  {{ $key }}: |
{{ toYaml $value | default "{}" | indent 4 }}
  {{- else }}
  {{ $key }}: {{ toYaml $value | indent 4 }}
  {{- end }}
{{- end -}}
{{- end -}}
{{- end -}}
