apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-acp
  labels:
    {{- include "acp.labels" . | nindent 4 }}
data:
  config.yaml: |
    server:
      url: {{ .Values.serverURL }}
    sql:
      {{- with .Values.sql }}
      {{- toYaml . | nindent 6 }}
      {{- else }}
      url: "postgres://root@{{ .Release.Name }}-cockroachdb:26257/defaultdb?sslmode=disable"
      {{- end }}
    hazelcast:
      {{- with .Values.hazelcast }}
      {{- toYaml . | nindent 6 }}
      {{- else }}
      addresses:
      - "{{ .Release.Name }}-hazelcast:5701"
      serverName: "{{ .Release.Name }}-hazelcast"
      username: "dev"
      {{- end }}
    {{- with .Values.features }}
    features:
      {{- toYaml . | nindent 6 }}
    {{- end }}
