{{- if .Values.importJob.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    {{- include "acp.labels" . | nindent 4 }}
  name: {{ include "acp.fullname" . }}-import
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: hook-succeeded,before-hook-creation
spec:
  backoffLimit: 4
  template:
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: data
          configMap:
            name: {{ include "acp.configName" . }}
        - name: tls
          secret:
            secretName: {{ include "acp.fullname" . }}-tls
            defaultMode: 384
        - name: import
          configMap:
            name: {{ include "acp.fullname" . }}-import
        - name: secret
          secret:
            secretName: {{ include "acp.secretConfig" . }}
      serviceAccountName: {{ include "acp.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.importJob.args }}
          args:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /data
              name: data
              readOnly: true
            - mountPath: /tls
              name: tls
              readOnly: true
            - mountPath: /import
              name: import
              readOnly: true
            - mountPath: /secret
              name: secret
              readOnly: true
          resources:
            {{- toYaml .Values.importJob.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: OnFailure
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "acp.fullname" . }}-import
data:
  seed.yaml: |
    {{- with .Values.importJob.data }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
