{{- if .Values.clientCredentials.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "acp-cd.clientCredentialsName" . }}
  labels:
    {{- include "acp-cd.labels" . | nindent 4 }}
stringData:
  clientID: {{ .Values.clientCredentials.clientID }}
  clientSecret: {{ .Values.clientCredentials.clientSecret }}
  issiuerURL: {{ .Values.clientCredentials.issiuerURL }}
{{- end }}
