name: acp chart test
on:
  push:
    tags-ignore:
      - "*"
  pull_request:

env:
  CHART: acp

jobs:
  lint:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Helm lint
        run: make helm-lint
      - name: Check kubernetes APIs
        run: make check-kube-apis
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Verify
        run: make verify
      - name: Helm tests
        run: make helm-test
