name: acp-cd chart test
on:
  push:
    tags-ignore:
      - "*"
    branches:
      - 'release/**'
    paths:
      - 'charts/acp-cd/Chart.yaml'
  pull_request:
    paths:
    - 'charts/acp-cd/**'
    - 'tests/**'

env:
  CHART: acp-cd

jobs:
  lint:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Helm lint
        run: make helm-lint
      - name: Check kubernetes APIs
        run: make check-kube-apis
